<ion-header id="topNavbar">
  <ion-navbar>
    <ion-title>Announcements</ion-title>
    <button ion-button clear (click)="logout()">
      <img src="assets/imgs/balaagh_logo.png" class="navbarLogo" />
    </button>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <h2>Welcome to Balaagh!</h2>

  <ion-item-divider color="secondary" style="border-radius: 10px;">
    <ion-label>
      Scheduled Today
    </ion-label>
  </ion-item-divider>

  <ion-grid>
    <ion-row>

      <ion-card col-md-12 col-lg-6 *ngFor="let item of todaySet">
        <ion-item>
          <div style="float:right;"><strong>{{ item.event_dt | date:'E, MMM d, yyyy' }}</strong> </div>
          <br />
          <div style="float:right;">{{ item.event_dt | date:'shortTime' }}</div>
          <ion-avatar item-start>
            <img src="assets/imgs/user_{{ item.avatar }}.png">
          </ion-avatar>
        </ion-item>

        <ion-card-content>

          <p style="font-weight: bold;" id="feedText" [innerHTML]="item.feed | linky"></p>

          <ion-grid id="bottomClicks">
            <ion-row>
              <ion-col col-4>
                <button ion-button icon-start clear small>
                  <ion-icon name="thumbs-up"></ion-icon>
                  <div>Like
                    <ion-badge color="secondary">0</ion-badge>
                  </div>
                </button>
              </ion-col>

              <ion-col col-4>
                <button ion-button icon-start clear small>
                  <ion-icon name="bookmark"></ion-icon>
                  <div>RSVP
                    <ion-badge color="secondary">0</ion-badge>
                  </div>
                </button>
              </ion-col>

              <ion-col col-4>
                <button ion-button icon-start clear small>
                  <div>More
                    <ion-badge color="secondary">
                      <ion-icon name="arrow-round-forward"></ion-icon>
                    </ion-badge>
                  </div>
                </button>
              </ion-col>


            </ion-row>
          </ion-grid>

        </ion-card-content>

      </ion-card>

      <ion-item *ngIf="nothingToday">
        <ion-label>
          <strong>No scheduled events today</strong>
        </ion-label>
      </ion-item>

    </ion-row>
  </ion-grid>

  <ion-item-divider color="default" style="border-radius: 10px;">
    <ion-label>
      Upcoming Events
    </ion-label>
  </ion-item-divider>

  <ion-grid>
    <ion-row>

      <ion-card col-md-12 col-lg-6 *ngFor="let item of upcomingSet">
        <ion-item>
          <div style="float:right;"><strong>{{ item.event_dt | date:'E, MMM d, yyyy' }}</strong> </div>
          <br />
          <div style="float:right;">{{ item.event_dt | date:'shortTime' }}</div>
          <ion-avatar item-start>
            <img src="assets/imgs/user_{{ item.avatar }}.png">
          </ion-avatar>
        </ion-item>

        <ion-card-content>

          <p style="font-weight: bold;" id="feedText" [innerHTML]="item.feed | linky"></p>

          <ion-grid id="bottomClicks">
            <ion-row>
              <ion-col col-4>
                <button ion-button icon-start clear small>
                  <ion-icon name="thumbs-up"></ion-icon>
                  <div>Like
                    <ion-badge color="secondary">0</ion-badge>
                  </div>
                </button>
              </ion-col>

              <ion-col col-4>
                <button ion-button icon-start clear small>
                  <ion-icon name="bookmark"></ion-icon>
                  <div>RSVP
                    <ion-badge color="secondary">0</ion-badge>
                  </div>
                </button>
              </ion-col>

              <ion-col col-4>
                <button ion-button icon-start clear small>
                  <div>More
                    <ion-badge color="secondary">
                      <ion-icon name="arrow-round-forward"></ion-icon>
                    </ion-badge>
                  </div>
                </button>
              </ion-col>


            </ion-row>
          </ion-grid>

        </ion-card-content>

      </ion-card>

      <ion-item *ngIf="nothingUpcoming">
        <ion-label>
          <strong>No upcoming events setup</strong>
        </ion-label>
      </ion-item>

    </ion-row>
  </ion-grid>

  <ion-item-divider color="danger">
      <ion-label>
        Past Events / Announcements
      </ion-label>
    </ion-item-divider>
  
    <ion-grid>
      <ion-row>
  
        <ion-card col-md-12 col-lg-6 *ngFor="let item of pastSet">
          <ion-item>
            <div style="float:right;"><strong>{{ item.event_dt | date:'E, MMM d, yyyy' }}</strong> </div>
            <br />
            <div style="float:right;">{{ item.event_dt | date:'shortTime' }}</div>
            <ion-avatar item-start>
              <img src="assets/imgs/user_{{ item.avatar }}.png">
            </ion-avatar>
          </ion-item>
  
          <ion-card-content>
  
            <p style="font-weight: bold;" id="feedText" [innerHTML]="item.feed | linky"></p>
  
            <ion-grid id="bottomClicks">
              <ion-row>
                <ion-col col-4>
                  <button ion-button icon-start clear small>
                    <ion-icon name="thumbs-up"></ion-icon>
                    <div>Like
                      <ion-badge color="secondary">0</ion-badge>
                    </div>
                  </button>
                </ion-col>
  
                <ion-col col-4>
                  <button ion-button icon-start clear small>
                    <ion-icon name="bookmark"></ion-icon>
                    <div>RSVP
                      <ion-badge color="secondary">0</ion-badge>
                    </div>
                  </button>
                </ion-col>
  
                <ion-col col-4>
                  <button ion-button icon-start clear small>
                    <div>More
                      <ion-badge color="secondary">
                        <ion-icon name="arrow-round-forward"></ion-icon>
                      </ion-badge>
                    </div>
                  </button>
                </ion-col>
  
              </ion-row>
            </ion-grid>
  
          </ion-card-content>
  
        </ion-card>
  
        <ion-item *ngIf="nothingPast">
          <ion-label>
            <strong>No past events were recorded</strong>
          </ion-label>
        </ion-item>
  
      </ion-row>
    </ion-grid>
  
</ion-content>