#topNavbar {

    .navbarLogo{
        height: 36px;
        padding: 0px;
        float: left;
    }
    
    ion-title {
        top: 0px;
        left: 0;
        padding: 10px 0px 1px;
        float: right;
    }
    
}
page-home {

}
